.bouncing-ball-loader {
padding: 0;
margin: 0;
}

.mycanvas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f6e119;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ball{
    background-image: url('./Miro-logo.png');
    background-size: cover; /* Esto mantendrá las dimensiones de la bola */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-position: center; /* Esto centrará la imagen en la bola */    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    left: 10px;
    bottom: 50px;
    animation: bounce 0.9s infinite;
}

@keyframes bounce {
    10%{height: 100px; width: 100px;} /* Duplicado de 50px a 100px */
    30%{height: 100px; width: 80px;} /* Duplicado de 50px a 100px y de 40px a 80px */
    50%{height: 60px; width: 114px; transform: translateY(240px);} /* Duplicado de 30px a 60px y de 57px a 114px */
    75%{height: 100px; width: 114px;} /* Duplicado de 50px a 100px y de 57px a 114px */
    100%{transform: translateY(0px);}
}
  .container{
    width: 57px;
    height: 250px;
  }
  .shadow{
    background-color: rgba(8, 8, 8,0.05 );
    height: 10px;
    width: 75px;
    border-radius: 50%;
    position: relative;
    left: -37px;
    top: 139px;
    z-index: 1;
    animation: shirink 0.9s infinite;
  }

  @keyframes shirink {
    50%{transform: scaleX(0.5);}
  }